
<div class="modal" *ngIf="hideclose">
  <div class="modal-container" >
    <div class="header">
    <h1>Welcome<a  class="close" (click)="hide()">X</a></h1>
    </div>

    <div class="model-content" >
      <p> Lorem ipsum (zkráceně lipsum) je označení pro standardní pseudolatinský text užívaný v grafickém designu a navrhování jako demonstrativní výplňový text při vytváření pracovních ukázek grafických návrhů (např. internetových stránek, rozvržení časopisů či všech druhů reklamních materiálů). Lipsum tak pracovně znázorňuje text v ukázkových maketách (tzv. mock-up) předtím, než bude do hotového návrhu vložen smysluplný obsah. Pokud by se pro stejný účel použil smysluplný</p>
    </div>
  </div>

</div>


